<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C_sharp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Головна</a></li>
                <li><a href="#">Новини</a>
                <ul>
                    <li><a href="{{ url_for('rynok_praci') }}">Ринок праці</a></li>
                    <li><a href="{{ url_for('new_articles') }}">Нові статті</a></li>
                </ul>
                </li>
                <li><a href="#">Веб Дизайн</a>
                    <ul>
                        <li><a href="{{ url_for('html_css') }}">HTML/CSS</a></li>
                        <li><a href="{{ url_for('JQuery') }}">JQuery</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('java') }}">Java</a></li>
                <li><a href="{{ url_for('python') }}">Python</a></li>
                <li><a href="{{ url_for('c_sharp') }}">C#</a></li>
                <li><a href="{{ url_for('forum') }}">Форум</a></li>
                <li><a href="{{ url_for('contacts') }}">Контакти</a></li>

                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('edit_user') }}">Налаштування</a></li>
                    <li><a href="{{ url_for('logout') }}">Вийти</a></li>
                    {% if session.role == 'admin' %}
                        <li><a href="{{ url_for('manage_users') }}">Управління користувачами</a></li>
                        <li><a href="{{ url_for('add_user') }}">Додати користувача</a></li>
                    {% endif %}
                    {% if session.role == 'owner' %}
                        <li><a href="{{ url_for('manage_all_users') }}">Управління користувачами</a></li>
                        <li><a href="{{ url_for('owner_add_user') }}">Додати користувача</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('register') }}">Реєстрація</a></li>           
                    <li><a href="{{ url_for('login') }}">Увійти</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </div>
    {% if role in ['admin', 'owner'] %}
        <div class="text_right_button">
            <form action="{{ url_for('add_article', category='c_sharp') }}" method="GET">
                <button type="submit" class="back_button_1">Add Article</button>
            </form>
        </div>
    {% endif %}
    <div class="text">
        <h1 class="main_text">C#</h1>
        <p class="container_text_main">На цій сторінці ви знайдете основну інформацію пов'язану з такою мовою програмування, як C#.</p>
    </div>

    <div class="text_block">          
        <h1 class="main_text">Що ж таке C#?</h1>
        <p class="container_text_main">C# -  об'єктно-орієнтована мова програмування з безпечною системою типізації для платформи .NET. Розроблена Андерсом Гейлсбергом, Скотом Вілтамутом та Пітером Гольде під егідою Microsoft Research (належить Microsoft).
            Синтаксис C# близький до С++ і Java. Мова має строгу статичну типізацію, підтримує поліморфізм, перевантаження операторів, вказівники на функції-члени класів, атрибути, події, властивості, винятки, коментарі у форматі XML. 
            Перейнявши багато від своїх попередників — мов С++, Object Pascal, Модула і Smalltalk — С#, спираючись на практику їхнього використання, виключає деякі моделі, що зарекомендували себе як проблематичні при розробці програмних систем, наприклад, мова С#, на відміну від C++, не передбачає множинне успадкування класів.</p>
        <h1 class="main_text">Де використовується C#?</h1>
        <p class="container_text_main">C# використовується для створення різноманітних програмного забезпечення для операційних систем Windows, включаючи стандартні десктопні додатки, ігри, адміністративні інструменти, програми для автоматизації бізнес-процесів та багато іншого.
            ASP.NET - це фреймворк для розробки веб-додатків, який використовує C# як мову програмування. За допомогою ASP.NET, розробники можуть створювати динамічні веб-сайти, веб-служби, API та інші веб-додатки.
            Хоча C# є мовою програмування, яка широко використовується на платформі Microsoft, вона менш популярна за межами цієї екосистеми. Це може становити проблему для розробки крос-платформових додатків або для проектів, які потребують підтримки інших платформ.
            Хоча є фреймворки, такі як .NET Core, які розширюють крос-платформовість C#, вона все ще менш популярна серед розробників, які працюють на різних операційних системах, порівняно з іншими мовами, такими як Java або Python.  
        </p>
        <h1 class="main_text">Як щодо прикладів програмного коду на C#?</h1>
        <p class="container_text_main">Розглянемо приклад з Hello world на C#.</p><br>
        <pre>
            <code>
using System;

class Program
{
    static void Main()
    {
        Console.WriteLine("Hello, World!");
    }
}
            </code>
        </pre><br>
        <p class="container_text_main">Ще також можна навести приклади використання циклів та умов. Ось приклад використання умов на C#:</p><br>
        <pre>
            <code>
using System;

class Program
{
    static void Main()
    {
        Console.WriteLine("Введіть ваш вік:");
        int age = Convert.ToInt32(Console.ReadLine());

        if (age >= 18)
        {
            Console.WriteLine("Ви повнолітній.");
        }
        else
        {
            Console.WriteLine("Ви неповнолітній.");
        }
    }
}
            </code>
        </pre><br>
        <p class="container_text_main">Ось приклад використання циклів на C#:</p><br>
        <pre>
            <code>
using System;

class Program
{
    static void Main()
    {
        // Приклад використання циклу while для виведення чисел від 1 до 5
        Console.WriteLine("Цикл while:");
        int j = 1;
        while (j <= 5)
        {
            Console.WriteLine(j);
            j++;
        }
    }
}
            </code>
        </pre><br>
        <p class="container_text_main">Окрім звичайних програм, C# також гарно підходить для написання WCF служб, ось приклад коду WCF служби на С#:</p><br>
        <pre>
            <code>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Runtime.Serialization;
using System.ServiceModel;
using System.Text;
                
namespace WcfServiceLibrary1
{
    [ServiceContract]
    public interface IService1
    {
        [OperationContract]
        string GetData(string value);

        [OperationContract]
        CompositeType GetDataUsingDataContract(CompositeType composite);

    }

    [DataContract]
    public class CompositeType
    {
        bool boolValue = true;
        string stringValue = "Hello ";

        [DataMember]
        public bool BoolValue
        {
            get { return boolValue; }
            set { boolValue = value; }
        }

        [DataMember]
        public string StringValue
        {
            get { return stringValue; }
            set { stringValue = value; }
        }
    }
}
            </code>
        </pre><br>
        <h1 class="main_text">Що таке WCF – форми?</h1>
        <p class="container_text_main">WCF-форми - це форми заявок про допуск до конфіденційної інформації, які створені за допомогою інтерфейсу Windows Communication Foundation (WCF). 
            Ці форми дозволяють контролювати доступ користувачів до конфіденційної інформації через зручний інтерфейс.
        </p><br>
        <p class="container_text_main">Джерела:</p>
        <a class="container_text_main" target="_blank" href="https://uk.wikipedia.org/wiki/C_Sharp">Джерело 1</a><br>
    </div>
    <div class="articles">
        {% for article in articles %}
            <div class="text_block">
                <h1 class="main_text">{{ article.title }}</h1>
                <p class="container_text_main">{{ article.content|safe}}</p>
                <div class="left_containered_info">
                    <p class="article-meta">By {{ article.author }} on {{ article.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    {% if article.updated_at %}
                    Last updated on {{ article.updated_at.strftime('%Y-%m-%d %H:%M') }}
                    {% endif %}
                </div>
                {% if role in ['admin', 'owner'] %}
                    <form action="{{ url_for('edit_article', article_id=article._id) }}" method="GET">
                        <button type="submit" class="back_button_1">Edit</button>
                    </form>
                    <form action="{{ url_for('delete_article', article_id=article._id) }}" method="POST">
                        <button type="submit" class="back_button_2">Delete</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>