<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New articles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Головна</a></li>
                <li><a href="#">Новини</a>
                <ul>
                    <li><a href="{{ url_for('rynok_praci') }}">Ринок праці</a></li>
                    <li><a href="{{ url_for('new_articles') }}">Нові статті</a></li>
                </ul>
                </li>
                <li><a href="#">Веб Дизайн</a>
                    <ul>
                        <li><a href="{{ url_for('html_css') }}">HTML/CSS</a></li>
                        <li><a href="{{ url_for('JQuery') }}">JQuery</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('java') }}">Java</a></li>
                <li><a href="{{ url_for('python') }}">Python</a></li>
                <li><a href="{{ url_for('c_sharp') }}">C#</a></li>
                <li><a href="{{ url_for('forum') }}">Форум</a></li>
                <li><a href="{{ url_for('contacts') }}">Контакти</a></li>

                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('edit_user') }}">Налаштування</a></li>
                    <li><a href="{{ url_for('logout') }}">Вийти</a></li>
                    {% if session.role == 'admin' %}
                        <li><a href="{{ url_for('manage_users') }}">Управління користувачами</a></li>
                        <li><a href="{{ url_for('add_user') }}">Додати користувача</a></li>
                    {% endif %}
                    {% if session.role == 'owner' %}
                        <li><a href="{{ url_for('manage_all_users') }}">Управління користувачами</a></li>
                        <li><a href="{{ url_for('owner_add_user') }}">Додати користувача</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('register') }}">Реєстрація</a></li>           
                    <li><a href="{{ url_for('login') }}">Увійти</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </div>
    {% if role in ['admin', 'owner'] %}
        <div class="text_right_button">
            <form action="{{ url_for('add_article', category='new_articles') }}" method="GET">
                <button type="submit" class="back_button_1">Add Article</button>
            </form>
        </div>
    {% endif %}
    <div class="text">
        <h1 class="main_text">Нові статті</h1>
        <p class="container_text_main">На цій сторінці будуть публікуватись нові статті та посилання на їх джерела. </p>  
    </div>
    <div class="text_block">          
        <h1 class="main_text">Еволюція штучного інтелекту (ШІ): Визначні моменти в історії та застосування</h1>
        <h1 class="main_text">"Чи можуть “машини” виявляти здатність до розуміння або мислення?"</h1>
        <p class="container_text_main">У першій половині 20-го століття наукова фантастика познайомила світ з концепцією роботів із штучним інтелектом.
            В підлітковому віці я захоплювалась науково-фантастичними книжками. В нашій бібліотеці, я прочитала все починаючи з "Чарівника країни Оз" до "Метрополісу".
            Історія штучного інтелекту починається ще з 1950-х років, і на той час концепція штучного інтелекту була асимільована ентузіастами того періоду.
            Одним з таких людей був Алан Тюрінг, молодий британський ерудит, який досліджував математичні можливості штучного інтелекту. 
            Тюрінг припустив, що люди використовують розум для розв'язання завдань та прийняття рішень, то чому б машинам не робити те ж саме? 
            Ця ідея встала в основу його статті 1950 року "Обчислювальна техніка та інтелект", в якій він описав, як створювати розумні машини та як перевіряти їх інтелект.</p>
        <h1 class="main_text">Робота Тьюринга і всі його досягнення існували в першу чергу як дискусії та теорії. Це було пов'язано з кількома факторами:</h1>
        <p class="container_text_main">
            <ul>
                <li>Перш за все, для матеріалізації ідей Тюрінга були необхідні значні зміни в комп'ютерних технологіях, через те, що до 1949 року в комп'ютерах була відсутня критична вимога до інтелекту — вони не могли зберігати команди та були призначені виключно для виконання.</li>
                <li>Крім того, на початку 1950-х обчислювальна техніка була надзвичайною розкішшю. Оренда комп'ютера могла коштувати до 200 000 доларів на місяць, що робило його доступним лише для престижних університетів та великих технологічних компаній. 
                    Розробка штучного інтелекту потребувала не лише підтвердження концепції, а й підтримки інвесторів, щоб переконати джерела фінансування в її доцільності.</li>
            </ul>
        </p>

        <h1 class="main_text">Конференція, з якої все почалось</h1>
        <p class="container_text_main">Концепцію для перевірки теорії була започатковано в програмі The Logic Theorist, 
            розроблений для моделювання людських навичок розв'язання проблем та фінансованій й представленій на Дартмутському семінарі(DSRPAI), організованому Джоном Маккарті та Марвіном Мінскі в 1956 році.</p>
        <br><div class="photos"><img src="{{ url_for('static', filename='images/conf.jpg') }}" alt="conf.jpg"></div><br>
        <p class="container_text_main">На конференції Маккарті разом з провідними дослідниками з різних галузей представив для відкритого обговорення концепцію штучного інтелекту та ввів термін, який він вигадав.
            На конференції, учасники все ж прийшли до консенсусу, погодившись з тим, що ШІ досяжна технологія. Цей захід слугував каталізатором для наступних років, сприяючи революції в дослідженні штучного інтелекту.</p>
        <h1 class="main_text">Американські гірки успіху та невдач у ШІ</h1>
        <p class="container_text_main">З 1957 по 1974 рік штучний інтелект процвітав. Комп'ютери могли зберігати більше інформації, ставали швидшими, дешевшими та доступнішими. Алгоритми машинного навчання також удосконалювалися,
            і люди стали краще розуміти, який алгоритм застосовувати для вирішення завдань. У 1970 році Марвін Мінський сказав в інтерв'ю журналу “Лайф”: “Протягом 3-8 років ми розробимо машину із загальним інтелектом середньостатистичної людини”. 
            Однак, попри існуванню теоретичної та деякої матеріальної бази до досягнення кінцевих цілей обробки природної мови, абстрактного мислення та самоусвідомлення було ще далеко.
            Найсуттєвішою перешкодою для розробки штучного інтелекту став брак обчислювальних потужностей: комп'ютери просто не могли зберігати достатньо інформації або обробляли її недостатньо швидко. 
            Наприклад, щоб спілкуватися, потрібно було знати значення багатьох слів і розуміти їх у різних комбінаціях.
            Ганс Моравець, тодішній стипендіат Маккарті, стверджував, що "комп'ютери все ще були в мільйони разів занадто слабкі, щоб демонструвати інтелект". Терпіння вичерпувалося, як і фінансування, а прогресу у дослідженнях майже не було…</p>
        <br><div class="photos"><img src="{{ url_for('static', filename='images/1.jpg') }}" alt="1.jpg"></div><br>


        <p class="container_text_main">У 1980-х роках розвиток штучного інтелекту відновився завдяки двом джерелам: розширенню алгоритмічних інструментів та збільшенню фінансування. 
            Джон Хопфілд та Девід Румельхарт популяризували методи "глибокого навчання", які дозволяють комп'ютерам вчитися на власному досвіді. 
            Едвард Фейгенбаум, також долучився до науковців представивши експертні системи, що імітують процес прийняття рішень.
            Програма запитувала експерта в певній галузі, як реагувати в різних ситуаціях, і після практичного засвоєння кожної ситуації неспеціалісти могли звертатися до програми за порадою. 
            Експертні системи набули широкого застосування в промисловості. Японський уряд активно фінансував в розробку Фейгенбаума та інші ініціативи, пов'язані зі штучним інтелектом, в рамках “Комп'ютери п'ятого покоління” (FGCP).
            1982-1990 роки — вкладено 400 мільйонів доларів у розвиток революційних комп'ютерних обчислювальних цілей, впровадження логічного програмування та вдосконалення штучного інтелекту. 
            Робота науковців з "Комп'ютерів п'ятого покоління" (FGCP) стала джерелом натхнення для молодого покоління талановитих інженерів і вчених. Однак із зупинкою фінансування FGCP увага до штучного інтелекту відійшла на задній план.
        </p>

        <h1 class="main_text">Шлях до інтелектуальної автономії: Визначні досягнення ШІ у десятиліття розквіту</h1>
        <p class="container_text_main">1997 році чемпіон світу з шахів та гросмейстер Гаррі Каспаров зазнав поразки від комп'ютерної програми для гри в шахи(IBM Deep Blue). 
            Цей широко розрекламований матч став першою поразкою чинного чемпіона світу з шахів від комп'ютера та значним кроком для розвитку штучного інтелекту.
            1997 рік — Windows було впроваджено програмне забезпечення для розпізнавання мови, розроблене компанією Dragon Systems. Це був ще один значний крок вперед, але вже в напрямку усного перекладу.
            Здавалося, не існувало проблем, з якими машини не могли б впоратися, навіть з людськими емоціями, про що свідчить Kismet, робот, розроблений Синтією Брізіл, який міг розпізнавати та відображати емоції.</p>
        <br><div class="photos"><img src="{{ url_for('static', filename='images/2.jpg') }}" alt="2.jpg"></div><br>

        <h1 class="main_text">Що змінилось в кодуванні штучного інтелекту?</h1>
        <p class="container_text_main">Виявляється, що фундаментальна межа комп'ютерної пам'яті, яка стримувала нас 30 років тому, більше не є проблемою.
            Закон Мура, який стверджує, що пам'ять і швидкість комп'ютерів подвоюються щороку, нарешті наздогнав, а в багатьох випадках і перегнав наші потреби.
            Саме так Deep Blue вдалося перемогти Гаррі Каспарова в 1997 році, а Google AlphaGo - китайського чемпіона з гри в го Ке Цзе кілька років тому.</p>
        <h1 class="main_text">Штучний інтелект всюди</h1>
        <p class="container_text_main">Ми живемо в епоху "big data" - час, коли є можливість збирати величезні обсяги інформації, але вони занадто громіздкі для обробки людиною. 
            Застосування штучного інтелекту в цьому плані вже виявилося дуже плідним у багатьох галузях: технології, економіка, банківська справа, маркетинг та розваги.
            Ми бачили, що навіть якщо алгоритми суттєво не вдосконалюються, великі обсяги даних та масові обчислення просто дозволяють штучному інтелекту навчатися. 
            Можливо, існують докази того, що закон Мура уповільнює темпи, але зростання обсягів даних, безумовно, не втрачає обертів. Прориви в інформатиці, математиці чи нейробіології — все це потенційні шляхи за межі закону Мура.</p>

        <h1 class="main_text">Глобальне застосування штучного інтелекту: його використання в різних країнах світу</h1>
        <p class="container_text_main">Сінгапур посідає друге місце за кількістю людей, зацікавлених у створенні зображень за допомогою ШІ (281). 
            Через популярність ШІ в Сінгапурі країна планує залучити більшу кількість експертів зі штучного інтелекту, включаючи вчених та інженерів з машинного навчання, до 15 000 в рамках національної стратегії розвитку штучного інтелекту, заявив в одному інтерв'ю віце прем'єр-міністр Лоуренс Вонг.
            Країна Південно-Східної Азії з населенням 5,45 млн осіб, де розташовані азійські штаб-квартири світових технологічних гігантів, таких як Alphabet (GOOGL.O) і Microsoft (MSFT.O), що належать Google,
            заявила, що також працюватиме над розширенням наявних високопродуктивних обчислювальних ресурсів, надаючи доступ через партнерство з виробниками чіпів і постачальниками хмарних послуг.
            Країни Латинської Америки лідирують у сфері аудіо, створеного за допомогою штучного інтелекту. Найпопулярнішим аудіо інструментом зі штучним інтелектом у світі є FakeYou: щомісяця його шукають 172 000 разів.
            Ці інструменти можуть відтворювати голоси відомих музикантів та інших знаменитостей з дивовижною точністю, що спричинило суперечки про авторські права за участю Дрейка і The Weeknd після того,
            як хтось створив нову пісню, використовуючи їхні голоси, повідомляє The New York Times.
            Українські безпілотники зі штучним інтелектом відкрили численні перспективи для військових. Міністерство оборони України повідомило про надання дозволу на постачання безпілотних авіаційних комплексів Saker Scout для Збройних сил України. Програмне забезпечення безпілотника побудоване на алгоритмах штучного інтелекту.
            Проте через початок війни, країна перетворилась на технологічний та інноваційний хаб, що привертає інвестиції від відомих людей, включно з колишнім виконавчим директором Google Еріком Шмідтом.
            "Це технологічні перегони 24 години на добу, 7 днів на тиждень", - заявив віце прем'єр-міністр України Михайло Федоров в інтерв'ю у своєму офісі в Києві. 
            "Завдання полягає в тому, що кожен продукт у кожній категорії повинен щодня змінюватися, щоб отримати перевагу".
            Велика державна програма підтримки розвитку БПЛА, спрямована на максимальне використання Києвом розвідувальних і ударних дронів виросла з проєкту UNITED24 "Армія дронів", за яку відповідає Михайло Федоров. 
            Федоров зазначив, що амбасадорами United24 стало багато відомих людей, які підтримують платформу та збирають кошти на проєкт із відбудови України.
            Варто зазначити, що після початку повномасштабного російського вторгнення значна частка блокчейн-індустрії об’єдналася довкола допомоги Україні. 
            Чудовим прикладом є дарунок армії українською блокчейн-компанією Everstake, яка передала українським військовим 500 FPV-дронів "Пегас".
        </p>
        <br><div class="photos">
            <img src="{{ url_for('static', filename='images/3.jpg') }}" alt="3.jpg">
        </div><br>
        <p class="container_text_main">Джерела:</p>
        <a class="container_text_main" target="_blank" href="https://cases.media/article/evolyuciya-shtuchnogo-intelektu-shi-viznachni-momenti-v-istoriyi-ta-zastosuvannya">Джерело 1</a><br>
    </div>
    <div class="articles">
        {% for article in articles %}
            <div class="text_block">
                <h1 class="main_text">{{ article.title }}</h1>
                <p class="container_text_main">{{ article.content|safe}}</p>
                <div class="left_containered_info">
                    <p class="article-meta">By {{ article.author }} on {{ article.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    {% if article.updated_at %}
                    Last updated on {{ article.updated_at.strftime('%Y-%m-%d %H:%M') }}
                    {% endif %}
                </div>
                {% if role in ['admin', 'owner'] %}
                    <form action="{{ url_for('edit_article', article_id=article._id) }}" method="GET">
                        <button type="submit" class="back_button_1">Edit</button>
                    </form>
                    <form action="{{ url_for('delete_article', article_id=article._id) }}" method="POST">
                        <button type="submit" class="back_button_2">Delete</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>