<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rynok praci</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Головна</a></li>
                <li><a href="#">Новини</a>
                <ul>
                    <li><a href="{{ url_for('rynok_praci') }}">Ринок праці</a></li>
                    <li><a href="{{ url_for('new_articles') }}">Нові статті</a></li>
                </ul>
                </li>
                <li><a href="#">Веб Дизайн</a>
                    <ul>
                        <li><a href="{{ url_for('html_css') }}">HTML/CSS</a></li>
                        <li><a href="{{ url_for('JQuery') }}">JQuery</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('java') }}">Java</a></li>
                <li><a href="{{ url_for('python') }}">Python</a></li>
                <li><a href="{{ url_for('c_sharp') }}">C#</a></li>
                <li><a href="{{ url_for('forum') }}">Форум</a></li>
                <li><a href="{{ url_for('contacts') }}">Контакти</a></li>

                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('edit_user') }}">Налаштування</a></li>
                    <li><a href="{{ url_for('logout') }}">Вийти</a></li>
                    {% if session.role == 'admin' %}
                        <li><a href="{{ url_for('manage_users') }}">Управління користувачами</a></li>
                        <li><a href="{{ url_for('add_user') }}">Додати користувача</a></li>
                    {% endif %}
                    {% if session.role == 'owner' %}
                        <li><a href="{{ url_for('manage_all_users') }}">Управління користувачами</a></li>
                        <li><a href="{{ url_for('owner_add_user') }}">Додати користувача</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('register') }}">Реєстрація</a></li>           
                    <li><a href="{{ url_for('login') }}">Увійти</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </div>
    {% if role in ['admin', 'owner'] %}
        <div class="text_right_button">
            <form action="{{ url_for('add_article', category='rynok_praci') }}" method="GET">
                <button type="submit" class="back_button_1">Add Article</button>
            </form>
        </div>
    {% endif %}
    <div class="text">
        <h1 class="main_text">Ринок праці</h1>
        <p class="container_text_main">На цій сторінці ви знайдете основну інформацію пов'язану з ринком праці. </p>  
    </div>
    <div class="text_block">          
        <h1 class="main_text">Ринок праці в IT відновився на 57%, а конкуренція серед шукачів б’є всі рекорди</h1>
        <p class="container_text_main">До повномасштабної війни галузь IT була однією з найпривабливіших для шукачів. Згодом бажання перейти в айті лише посилювалося. Work.ua з’ясував, що відбувається в галузі та чому конкуренція серед шукачів у рази перевищує середні показники ринку праці.</p>
        <h1 class="main_text">Чому та як ми досліджуємо ринок IT</h1>
        <p class="container_text_main">За останні роки у свідомості українців сформувалося таке уявлення про сферу IT: можна світчнутися з будь-якої професії в будь-якому віці, спеціальність можна опанувати за декілька місяців, зарплата в доларах, віддалена робота з клієнтами з Європи та США. Але, як і в більшості історій успіху, поза кадром залишається низка викликів: глобальна рецесія, особливості воєнного часу, висока конкуренція серед кандидатів, зниження попиту на Junior-спеціалістів (новачків в IT). У цьому дослідженні ми прагнули показати об’єктивну картину, засновану на внутрішніх аналітичних даних Work.ua.
            Для цього ми проаналізували всі вакансії, які компанії розмістили в категорії «ІТ, комп’ютери, інтернет», а також інформацію про шукачів, які претендують на ці посади.</p>
        <h1 class="main_text">Кількість вакансій відновлюється, але до рівня лютого 2022 року ще далеко</h1>
        <p class="container_text_main">На початку повномасштабного вторгнення ринок праці в категорії «ІТ, комп’ютери, інтернет» обвалився в 7 разів — з 9 887 до 1 363 вакансій. Ситуація на ринку праці в цілому була ще гіршою — за даними системи управління наймом (СУН) Work.ua, кількість пропозицій роботи скоротилася вдесятеро. У вересні 2022 року, досягнувши піку у 4 909 пропозицій роботи, вакансії в ІТ знову пішли на спад. Це може бути пов’язано з обстрілами енергетичної інфраструктури України та подальшими перебоями з електрикою та зв’язком.
            Сьогодні ринок праці в категорії «ІТ, комп’ютери, інтернет» відновився на 57%. Зокрема, у червні 2023 року було зафіксовано 5 600 вакансій. Для порівняння, відновлення ринку праці в цілому по Україні вже досягло 90%.</p>
        <br><div class="photos"><img src="{{ url_for('static', filename='images/dynamika.jpg') }}" alt="dynamika.jpg"></div><br>
        <p class="container_text_main">Таке суттєве відставання, на перший погляд, контрастує зі статистикою Опендатабот, яка показала, що ІТ-послуги — єдина галузь бізнесу, що зросла у 2022 році. До того ж на галузь припала майже половина від усього обсягу експорту послуг. Проте це зростання було мінімальним і склало лише 7%. При тому, що за 2021 рік приріст становив 36%.
            <br> І як пояснюють самі представники галузі, у 2022 році айтівці «допрацьовували» за контрактами, укладеними до повномасштабного вторгнення. Зважаючи на ризики, іноземні клієнти не поспішають співпрацювати з представниками українського IT. Серед іншого, їх стримують:
            <ul><li>Глобальна рецесія. У 2022 році низка міжнародних компаній (як-от Amazon, Google, Microsoft) скоротила десятки тисяч співробітників. Тож загальна тенденція вказує на зменшення ринку праці.</li>
            <li>Ризик блекаутів.</li>
            <li>Труднощі з бронюванням співробітників. Більшість айтівців працюють як ФОПи й не підлягають бронюванню від мобілізації.</li>
            <li>Відсутність реального механізму короткострокових відряджень за кордон.</li></ul>
            Усі ці фактори перешкоджають сфері IT йти в ногу із загальними тенденціями на ринку праці та наблизитися до показників лютого 2022 року.
            </p>
        <h1 class="main_text">На кількість вакансій у регіоні впливає віддаленість від лінії фронту</h1>
        <p class="container_text_main">Найбільше пропозицій роботи в категорії знаходиться в Київській (1 731 вакансія), Львівській (387), Дніпропетровській (353), Одеській (257), Харківській області (100). При цьому остання показує чи не найнижчу в Україні частку відновлення ринку праці. До повномасштабного вторгнення Харківщина була одним з осередків IT-кластера, чим пояснюється досить велика кількість вакансій сьогодні.</p>
        <br><div class="photos"><img src="{{ url_for('static', filename='images/kilkist.jpg') }}" alt="kilkist.jpg"></div><br>
        <p class="container_text_main">А от найбільша частка відновлення до рівня лютого 2022 року у Закарпатській (127%, 42 вакансії), Хмельницькій (111%, 93 вакансії), Чернівецькій області (107%, 58 вакансій). При цьому на зростання впливає переміщення компаній із прифронтових регіонів, де і спостерігаємо найменше відновлення. Зокрема, за даними Асоціації «IT Ukraine» 45% українських ІТ-компаній здійснили повну або часткову релокацію. Важливо, що серед компаній, що проводили релокацію, переважає переміщення в межах України.</p>
        <h1 class="main_text">Айтівців шукають не лише ІТ-компанії</h1>
        <p class="container_text_main">Ці спеціалісти потрібні скрізь: і в банках, і в транспортних підприємствах, і у сфері торгівлі.</p>
        <br><div class="photos"><img src="{{ url_for('static', filename='images/rozpodil.jpg') }}" alt="rozpodil.jpg"></div><br>
        <p class="container_text_main">Як бачимо з графіку, найчастіше вакансії в категорії «ІТ, комп’ютери, інтернет» розміщують компанії із таких галузей: «ІТ» (31%), «Маркетинг, реклама, PR» (13%), «Роздрібна торгівля» (11%), «Оптова торгівля, дистрибуція, експорт, імпорт» (6%), «Освіта, наука» (4%).
            Примітно, якщо порівняти з лютим 2022 року, у червні 2023 року частка вакансій від галузі «ІТ» знизилась з 44% до 31%. Разом з тим виросли частки вакансій від галузей «Маркетинг, реклама, PR» (з 10% до 13%), «Роздрібна торгівля» (з 8% до 11%), «Оптова торгівля, дистрибуція, експорт, імпорт» (з 5% до 6%), «Освіта, наука» (з 3% до 4%).
            Отже, лише третина вакансій для айтівців розміщена ІТ-компаніями.</p>
        <h1 class="main_text">IT ідеально підходить для людей, що хочуть працювати віддалено</h1>
        <p class="container_text_main">Найбільшу кількість вакансій у червні 2023 року, за даними системи управління наймом (СУН) Work.ua, роботодавці розмістили за такими посадами:</p>
            <ul>
                <li>системний адміністратор — 361 вакансія;</li>
                <li>інтернет-маркетолог — 326;</li>
                <li>спеціаліст технічної підтримки — 321;</li>
                <li>менеджер проєктів — 239;</li>
                <li>програміст PHP — 138;</li>
                <li>бізнес-аналітик — 127;</li>
                <li>UI/UX дизайнер — 99;</li>
                <li>Full Stack програміст — 68;</li>
                <li>тестувальник — 63;</li>
                <li>Front-end програміст — 59.</li></ul>
            <p class="container_text_main">Але якщо порівнювати зі станом речей у лютому 2022 року, то ці цифри видаються досить стриманими. Наприклад, відновлення за посадою Front-end програміст складає лише 17% (59 вакансій у червні 2023 року проти 349 у лютому 2022 року), тестувальник — 20% (63 та 318 вакансій відповідно).</p>
        <br><div class="photos"><img src="{{ url_for('static', filename='images/10.jpg') }}" alt="10.jpg"></div><br>
        <p class="container_text_main">Робота в IT приваблює кандидатів можливістю працювати віддалено. Зокрема, у 36% вакансій кандидатам пропонується працювати дистанційно. Для порівняння, у категорії «Маркетинг, реклама, PR» частка дистанційної роботи становить 27%.</p>
        <h1 class="main_text">Повільне відновлення вакансій провокує небачену конкуренцію</h1>
        <p class="container_text_main">У червні 2023 року, за даними системи управління наймом (СУН) Work.ua, в категорії «ІТ, комп’ютери, інтернет» активно шукали роботу 26 532 особи. Найчастіше вони претендують на посади Front-end програміста, UI/UX дизайнера, тестувальника. Ці професії вважаються «посадою з низьким порогом входу», тобто доступною для всіх людей, незалежно від освіти. Наприклад, за програмою Мінцифри IT Generation саме ці три професії світчери обирали найчастіше.
            Щодо інших особливостей шукачів: серед тих, хто розмістив або оновив резюме у червні, 39% жінки та 61% чоловіки. Для порівняння, в цілому по Україні ситуація серед кандидатів, що виходять на ринок праці, протилежна: 57% жінки та 43% чоловіки.
            Конкуренція шукачів за роботу в ІТ майже втричі вища, ніж в цілому по Україні. Ситуація тут суттєво відрізняється від конкуренції на ринку праці як такому, де ми навпаки спостерігаємо дефіцит кадрів. Адже в цій сфері відбувається оптимізація у зв’язку з ризиками, про які ми писали вище.
            </p>
        <br><div class="photos">
            <img src="{{ url_for('static', filename='images/vidgyki.jpg') }}" alt="vidgyki.jpg">
        </div><br>
        <p class="container_text_main">Найбільшу конкуренцію спостерігаємо на такі посади: Front-end програміст (281 відгук на одну вакансію — у 10 разів більше, ніж в категорії), тестувальник (132), UI/UX дизайнер (130), програміст Unity (122), програміст Java (86). Перші три професії у переліку — саме ті, де спостерігаються найповільніші темпи відновлення кількості вакансій до показників лютого 2022 року.
            А от найнижча конкуренція за посадами: бізнес-аналітик (10), системний адміністратор (11), інтернет-маркетолог (14).</p>
        <h1 class="main_text">На яку зарплату розраховувати тим, хто подолав шалену конкуренцію</h1>
        <p class="container_text_main">Особливість категорії «ІТ, комп’ютери, інтернет» полягає в тому, що роботодавці вказують рівень заробітних плат для фахівців рівня Junior. А от вакансії для Middle та Senior зазвичай не містять інформації про рівень оплати праці, адже вона обговорюється з кандидатом індивідуально, зважаючи на його навички й досвід. Тому середній рівень зарплат, вказаних у вакансіях на Work.ua, переважно відповідає сумі, яку ринок зазвичай пропонує початківцям — фахівцям з досвідом до 1 року. Але є винятки, як-от програміст Java, чия середня зарплата відповідає рівню Middle.</p>
        <p class="container_text_main">Топ некерівних посад у категорії з найбільшою медіанною зарплатою у червні 2023 року:</p>
        <ul>
            <li>80 000 грн — програміст Java;</li>
            <li>53 540 грн — Full Stack програміст;</li>
            <li>53 250 грн — JavaScript-програміст;</li>
            <li>50 000 грн — Back-end програміст;</li>
            <li>47 750 грн — Android-програміст;</li>
            <li>41 250 грн — програміст PHP;</li>
            <li>40 000 грн — Python-програміст;</li>
            <li>37 000 грн — Front-end програміст;</li>
            <li>35 875 грн — програміст WordPress;</li>
            <li>33 750 грн — бізнес-аналітик;</li>
            <li>30 000 грн — 3D-візуалізатор, web-програміст;</li>
            <li>27 500 грн — адміністратор баз даних, менеджер проєктів, UI/UX-дизайнер;</li>
            <li>27 250 грн — тестувальник.</li>
        </ul>
        <p class="container_text_main">Зростання рівня зарплат, порівнюючи з періодом до повномасштабного вторгнення, частково пов’язане зі зміною курсу долара. Найбільше зросли зарплати у таких фахівців:</p>
        <ul>
            <li>на 84% (з 29 000 у лютому 2022 року до 53 250 грн у червні 2023 року) — JavaScript-програміст;</li>
            <li>на 71% (з 46 750 до 80 000 грн) — Java-програміст;</li>
            <li>на 51% (з 23 825 до 35 875 грн) — програміст WordPress;</li>
            <li>на 45% (з 18 800 до 27 250 грн) — тестувальник;</li>
            <li>на 40% (з 21 500 до 30 000 грн) — 3D-візуалізатор;</li>
            <li>на 36% (з 35 000 до 47 750 грн) — Android-програміст;</li>
            <li>на 33% (з 22 500 до 30 000 грн) — Web-програміст;</li>
            <li>на 32% (з 19 000 до 25 000 грн) — інтернет-маркетолог;</li>
            <li>на 31% (з 21 000 до 27 500 грн) — UI-дизайнер.</li>
        </ul>
        <h1 class="main_text">Про що нам говорить статистика</h1>
        <p class="container_text_main">Ринок праці в IT відновлюється, але досить повільними темпами. Фактори, що стримують зростання, залишаються актуальними: загроза блекаутів, побоювання щодо можливої мобілізації працівників тощо. Проте осінь традиційно є високим бізнес-сезоном, тож IT має всі шанси наростити темпи відновлення.
            Через ці ж причини спостерігаємо лише незначне відновлення ринку праці у прифронтових регіонах, особливо якщо порівняти із загальною позитивною тенденцією, про яку раніше розповідав Work.ua.
            Саме в категорії «ІТ, комп’ютери, інтернет» спостерігається найбільша конкуренція серед шукачів, яка подекуди у 30 разів перевищує середні показники ринку. Для роботодавців це можливість відбирати найкращі таланти й побудувати вмотивовані команди для розвитку власного бізнесу та подальшого відновлення галузі.</p>
        <p class="container_text_main">Джерела:</p>
        <a class="container_text_main" target="_blank" href="https://www.work.ua/articles/analytics/3149/">Джерело 1</a><br>
        <a class="container_text_main" target="_blank" href="https://dou.ua/lenta/articles/jobs-and-trends-2023/">Джерело 2</a>
    </div>

    <div class="articles">
        {% for article in articles %}
            <div class="text_block">
                <h1 class="main_text">{{ article.title }}</h1>
                <p class="container_text_main">{{ article.content|safe}}</p>
                <div class="left_containered_info">
                    <p class="article-meta">By {{ article.author }} on {{ article.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                    {% if article.updated_at %}
                    Last updated on {{ article.updated_at.strftime('%Y-%m-%d %H:%M') }}
                    {% endif %}
                </div>
                {% if role in ['admin', 'owner'] %}
                    <form action="{{ url_for('edit_article', article_id=article._id) }}" method="GET">
                        <button type="submit" class="back_button_1">Edit</button>
                    </form>
                    <form action="{{ url_for('delete_article', article_id=article._id) }}" method="POST">
                        <button type="submit" class="back_button_2">Delete</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>